body{
    background-color: rgb(178, 174, 193);
}
p{
    font-size: 20px;
    max-width: 90%;
    font-family: "Barlow", sans-serif;
}

.list{
    font-size: 18px;
    font-family: "Barlow", sans-serif;
}
a{
    font-size: 20px;
    font-family: "Barlow", sans-serif;
}
.foto{
    float: left;
    margin-right: 15px;
    padding: 10px;
    background-color: rgb(222, 220, 228);
}
.habilidades{
    clear: both;
}
.nome{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(76, 71, 92);
    color: rgb(233, 232, 237);
    font-family: "Inconsolata", sans-serif;
}
.descricao{
    margin-left: 3px;
    background-color: rgb(244, 243, 246);
}
.links-internos{
    margin-bottom: 35px;
    list-style-type: square;
}
.titulos{
    background-color: rgb(76, 71, 92);
    color: rgb(233, 232, 237);
    font-family: "Inconsolata", sans-serif;
}
.redes-sociais {
    border: 5px solid rgb(76, 71, 92);
    background-color: rgb(76, 71, 92);
    text-decoration: none;
}
a:link.redes-sociais {
    color: rgb(233, 232, 237);
}
a:hover.redes-sociais {
    border: 5px solid rgb(179, 174, 193);
    background-color: rgb(179, 174, 193);
}

a:visited.redes-sociais {
    color: rgb(233, 232, 237); 
}